scratch/
*.tmp
*.pyc
*.png
*.pkl
*.eps
*.ps
*.c
*.o
*.so
*.swp
.smhist
OUT-*.log*
err.OUT*
publication/
simqueue/
setup.py
build/
adam-simple_ic/develop_simple_ic/ICstats/
adam-python_funcifier/
coadd_MACS0744+39/
hawaii_gas_preH/
ORIGINALS/
backup_Zw_CRNitschke/
adam-ORIGINALS
adam-analysis
adam-ascii_usefuls
adam-astromfix
adam-attempted_pipeline_scripts
adam-badcol_10_3
adam-mytools
adam-parse_bash_logs
adam-run_scamp
adam_make_pyx_setup.sh
adam-pat_calc_scripts
store_sdss
sdss_out
asctoldac_sdss.conf
table_zps_runs_sdss.txt
store_panstarrs
panstarrs_out
asctoldac_panstarrs.conf
table_zps_runs_panstarrs.txt

## links
A2204_astrom_photom_scamp_PANSTARRS
adam-PyCallGraph
adam-bigfiles_bpz_pdz_and_cosmos
adam-simple_ic
adam_A2204-scamp_pass1_final.sh
plots

## setup_symlinks.sh
adam_quicktools_ArgCleaner.py
adam_quicktools_header_key_add.py
adam_cosmos_options.py
adam_make_cosmos_sims_finalplots.py
banff_tools.c
banff_tools.pyx
banff_tools.so
bootstrap_masses.py
compare_masses.py
cosmos_mass_bias_calc_driver.sh
cosmos_sim.py
datamanager.py
intrinsicscatter_grid.py
intrinsicscatter_grid_plots.py
make_pyx_setup.sh
matching.py
maxlike_bootstrap.py
maxlike_controller.py
maxlike_floatvoigt_shapedistro.py
maxlike_floatvoigt_simdriver.py
maxlike_general_filehandler.py
maxlike_masses.py
maxlike_mymc_driver.py
maxlike_nfw2param.py
maxlike_plots.py
maxlike_secure_driver.py
maxlike_secure_floatvoigt_driver.py
maxlike_sim_filehandler.py
maxlike_simdriver.py
maxlike_subaru_driver.py
maxlike_subaru_filehandler.py
maxlike_subaru_secure_filehandler.py
maxlike_voigt_simdriver.py
newmanstyle_batchrunner.py
nfwmodel2param.c
nfwmodel2param.pyx
nfwmodel2param.so
nfwmodel_normshapedistro.py
nfwmodel_sim.py
nfwmodeltools.c
nfwmodeltools.pyx
nfwmodeltools.so
nfwutils.py
pdzfile_utils.py
pdzperturbtools.c
pdzperturbtools.pyx
pdzperturbtools.so
photorunner.sh
prep_cosmos_run.py
preprocess_cosmos_sims.py
process_cosmos_sims.py
process_cosmos_sims_plots.py
readtxtfile.py
run_ml_sim_bias.py
scatter_sims.py
scatter_sims_plots.py
shearprofile.py
simcl_scatter_sim_driver.py
stats.c
stats.pyx
stats.so
submit_mlmasses.sh
submit_mlsims.sh
varcontainer.py
voigt.c
voigt.h
voigt_tools.c
voigt_tools.pyx
voigt_tools.so
voigtcall.pyx
adam_quicktools_ArgCleaner.py
adam_quicktools_header_key_add.py
header_key_add.py
BartStar.py
Plot_Light_Cutter.py
SeeingClearly.py
UsefulTools.py
cattools.py
fitter.py
imagetools.py
import_ascii.py
import_tools.py
ldac.py
sextract.py
RXJ2129.ini
