scratch/
*.tmp
*.pyc
*.png
*.eps
*.ps
*.c
*.o
*.so
OUT-*.log
simqueue/
setup.py
build/
develop_simple_ic/ICstats/
adam-python_funcifier/
coadd_MACS0744+39/
hawaii_gas_preH/
adam-ORIGINALS
adam-analysis
adam-ascii_usefuls
adam-astromfix
adam-attempted_pipeline_scripts
adam-badcol_10_3
adam-mytools
adam-parse_bash_logs
adam-run_scamp
