# The 'asctoldac' program converts a traditional ASCII column data
# file into an LDAC table.
#
# It takes a configuration file which contains a block of information
# on each ASCII column that should be converted into an LDAC key in an
# LDAC table. 
# 
# The following configuration file applies to 'D1_r_part.asc'
#
# We give comments for the first key:
#
# The name of the key
COL_NAME = objID
#
# The keytype of the LDAC key. It can be SHORT, LONG, FLOAT, DOUBLE, or STRING
COL_TTYPE = LONG
#
# Another key specifying the keytype. 
# It is - INT for keytypes SHORT and LONG
#       - FLOAT for keytypes FLOAT and DOUBLE
#       - STRING for STRING 
COL_HTYPE = INT
#
# The comment for the LDAC key. Enclose within double quotes
# just use "" if there is no comment.
COL_COMM = "Running Object Number"
#
# The unit  for the LDAC key. Enclose within double quotes
# just use "" if there is no comment.
COL_UNIT = ""
#
# The depth (dimension) of the key. It is '1' for single column
# numbers. It gives the maximum number of characters for keytype
# STRING.
COL_DEPTH = 1
#
COL_NAME = raMean
COL_TTYPE = DOUBLE
COL_HTYPE = FLOAT
COL_COMM = "RA J2000"
COL_UNIT = "deg"
COL_DEPTH = 1
#
COL_NAME = decMean
COL_TTYPE = DOUBLE
COL_HTYPE = FLOAT
COL_COMM = "Dec J2000"
COL_UNIT = "deg"
COL_DEPTH = 1
#
COL_NAME = raMeanErr
COL_TTYPE = DOUBLE
COL_HTYPE = FLOAT
COL_COMM = "RA Error"
COL_UNIT = "deg"
COL_DEPTH = 1
#
COL_NAME = decMeanErr
COL_TTYPE = DOUBLE
COL_HTYPE = FLOAT
COL_COMM = "Dec Error"
COL_UNIT = "deg"
COL_DEPTH = 1
#
COL_NAME = iMeanPSFMag
COL_TTYPE = DOUBLE
COL_HTYPE = FLOAT
COL_COMM = "i-band Mean PSFMag"
COL_UNIT = "mags"
COL_DEPTH = 1
#
COL_NAME = iMeanPSFMagErr
COL_TTYPE = DOUBLE
COL_HTYPE = FLOAT
COL_COMM = "i-band Mean PSFMag Err"
COL_UNIT = "mags"
COL_DEPTH = 1
#
#
COL_NAME = iMeanKronMag
COL_TTYPE = DOUBLE
COL_HTYPE = FLOAT
COL_COMM = "i-band Mean KronMag"
COL_UNIT = "mags"
COL_DEPTH = 1
#
COL_NAME = iMeanKronMagErr
COL_TTYPE = DOUBLE
COL_HTYPE = FLOAT
COL_COMM = "i-band Mean KronMag Err"
COL_UNIT = "mags"
COL_DEPTH = 1
#
#
COL_NAME = iMeanApMag
COL_TTYPE = DOUBLE
COL_HTYPE = FLOAT
COL_COMM = "i-band Mean ApMag"
COL_UNIT = "mags"
COL_DEPTH = 1
#
COL_NAME = iMeanApMagErr
COL_TTYPE = DOUBLE
COL_HTYPE = FLOAT
COL_COMM = "i-band Mean ApMag Err"
COL_UNIT = "mags"
COL_DEPTH = 1
#
